footer {
  padding: 5rem 0;
  width: 100%;
}
.footer-inner {
  max-width: 1024px;
  min-width: 320px;
  width: 100%;
  margin: 0 auto;
  padding: 0 1rem;
  &-top {
    padding: 2rem 0;
    border-bottom: 1px solid $color-gray;
    display: flex;
    align-items: center;
    justify-content: space-between;
    ul {
      display: flex;
      align-items: center;
      a {
        padding: 1rem;
        svg {
          color: #aaa;
        }
      }
    }
  }
  &-bottom {
    padding-top: 3rem;
    ul {
      display: flex;
      align-items: flex-start;
      flex-wrap: wrap;
      gap: 1.5rem 0;
      li {
        display: flex;
        align-items: center;
        font-size: 1.5rem;
        &::after {
          content: '';
          width: 0.1rem;
          height: 1rem;
          background: $color-gray;
          margin: 0 1rem;
        }
        b {
          margin-right: 1rem;
        }
      }
    }
  }
}
